<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastreio Xpress</title>
    <!--CSS E BIBLIOTECA PARA ICON NO BOTÃO-->
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <br><br><br><br><br>
    <!--CAIXA DE LOGIN-->
    <div>
        <div class="login-page">
            <div class="form">
                <h1>LOGIN</h1>
                    <form class="login-form">
                    <p>Email</p>
                    <input type="text" placeholder="Digite seu e-mail"/>
                    <p>Senha</p>
                    <input type="password" placeholder="Digite sua senha"/>
                    <button>ENTRAR</button>
                    <p class="message">Não possui uma conta? <a href="./registrar.html">Crie uma conta</a></p>
                </form>
            </div>
          </div>
    </div>
    <div class="container">
        <img style="width: 90%; display: flex; margin: auto;" src="../img/boxes.svg">
    </div>
    
</body>
<nav>
    <!--MENU/ITEMS-->
    <a href="" class="logo"><img class="img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAACXBIWXMAAAsTAAALEwEAmpwYAAABKUlEQVR4nGNgGAWDHkhNcP9PDpac4H6Cbg5hoJfPGGhtAUU+IscRDCA1/W6nMOKv3/2X5AT3Rqr5jIGAPomJ7rFUCzopLEEp1+cuKdnv9lhqgtsn6QkuqhTHHQMOi0BAot/VTqrf7Y9Uv/sZrfpQNqoGHQO6Y/vdWsFy/e41VA06uWnegshYvNtVTHKC2xMQpihhMJColmapTooEi76QYdEX4i3qd58p0+stDRIXneIlIdXvPomgRf349WBYJDnBfa78fHsOqX73dql+t8NSE9zaVCZ6sEtOcJuByyJJIvTALZKc4H4S6jJ1sAYUH7q1gsWRxCT73Y5D9e0lpAemFjPVgV2F7Hq3Q7izNvl6EBkNEZwttNDDAApfiEa3QyANID4t9IwCBmIAAJp/Whw3jNjfAAAAAElFTkSuQmCC"> <h2>Rastreio Xpress</h2></a>
    <ul class="navbarr">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../components/sobre.html">Sobre nós</a></li>
        <li><a href="../components/parceiros.html">Parceiros</a></li>
        <li><a href="../components/ajuda.html">Ajuda</a></li>
    </ul>
    <div>
        <!--BOTOES-->
        <a href="#" class="bn3637 bn36">Entrar</a>
        <a href="../components/registrar.html" class="bn3638 bn38">Cadastre-se</a>
    </div>
</nav>
</html>