<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastreio Xpress</title>
    <!--CSS E BIBLIOTECA PARA ICON NO BOTÃO-->
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <br><br><br>
    <!--TEXTO ABAIXO DO MENU/INPUT E BOTAO PARA RESTREIO-->
    <div class="rastreio-2">
        <h3>Veja como o Rastreio Express pode facilitar sua rotina</h3>
        <br>
        <p>As funcionalidades do Rastreio Express foram desenvolvidas para ajudar você a organizar a rotina logística</p>
    </div>

    <!--Galeria de imagens-->
    <div class="responsive">
        <div class="galeria">
            <img src="../img/search.svg" alt="">
          <div class="desc">Busque por uma encomenda</div>
          <br>
          <p>Use o Rastreio Express para encontrar suas encomendas. Basta colar o código de rastreio no campo de buscas e aproveitar.</p>
        </div>
      </div>
      <div class="responsive">
        <div class="galeria">
            <img src="../img/phone_loc.svg" alt="">
          <div class="desc">Acompanhe suas encomendas</div>
          <br>
          <p>O Rastreio Express foi desenvolvido para facilitar a visualização de suas encomendas. Nada de atualizações misteriosas e difíceis de entender.</p>
        </div>
      </div>
      <div class="responsive">
        <div class="galeria">
            <img src="../img/notification_bell.svg" alt="">
          <div class="desc">Receba notificações</div>
          <br><br>
          <p>No Rastreio Express você acompanha tudo o que acontece com a sua encomenda diretamente no seu e-mail.</p>
        </div>
      </div>
      
    <br><br><br>
    
    <!--TEXTO E BOTÃO - FINAL-->
    <div class="rastreio-2">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h4>O Rastreio Express foi desenvolvido especialmente para quem deseja usar uma ferramenta simples e objetiva, sem enrolação.</h4>
        <a href="/" class="bn3639 bn39">CADASTRE-SE AGORA</a>
    </div>
    
</body>
<nav>
    <!--MENU/ITEMS-->
    <a href="" class="logo"><img class="img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAACXBIWXMAAAsTAAALEwEAmpwYAAABKUlEQVR4nGNgGAWDHkhNcP9PDpac4H6Cbg5hoJfPGGhtAUU+IscRDCA1/W6nMOKv3/2X5AT3Rqr5jIGAPomJ7rFUCzopLEEp1+cuKdnv9lhqgtsn6QkuqhTHHQMOi0BAot/VTqrf7Y9Uv/sZrfpQNqoGHQO6Y/vdWsFy/e41VA06uWnegshYvNtVTHKC2xMQpihhMJColmapTooEi76QYdEX4i3qd58p0+stDRIXneIlIdXvPomgRf349WBYJDnBfa78fHsOqX73dql+t8NSE9zaVCZ6sEtOcJuByyJJIvTALZKc4H4S6jJ1sAYUH7q1gsWRxCT73Y5D9e0lpAemFjPVgV2F7Hq3Q7izNvl6EBkNEZwttNDDAApfiEa3QyANID4t9IwCBmIAAJp/Whw3jNjfAAAAAElFTkSuQmCC"> <h2>Rastreio Xpress</h2></a>
    <ul class="navbarr">
      <li><a href="../index.html">Home</a></li>
      <li><a href="#">Sobre nós</a></li>
      <li><a href="../components/parceiros.html">Parceiros</a></li>
      <li><a href="../components/ajuda.html">Ajuda</a></li>
    </ul>
    <div>
        <!--BOTOES-->
        <a href="../components/login.html" class="bn3637 bn36">Entrar</a>
        <a href="../components/registrar.html" class="bn3638 bn38">Cadastre-se</a>
    </div>
</nav>
</html>